docker.runOptions = '-u $(id -u):$(id -g)'
params {
  genomes {
    'GRCh37' {
      fasta         = './REFERENCE/genome/ensembl_GRCh37/genome.fa'
      gtf            = './REFERENCE/genome/ensembl_GRCh37/genes.gtf'
      gene_bed       = './REFERENCE/genome/ensembl_GRCh37/genes.bed'
      star_index     = './REFERENCE/genome/ensembl_GRCh37/STARIndex/'
    }
  }
}